@* @page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
 *@


 @page "/"
<PageTitle>Home</PageTitle>
<div class="kanban-board">
    <KanbanColumn Title="A Fazer">
        <KanbanCard Title="Tarefa 1" Description="Descrição da Tarefa 1"></KanbanCard>
        <KanbanCard Title="Tarefa 2" Description="Descrição da Tarefa 2"></KanbanCard>
    </KanbanColumn>

    <KanbanColumn Title="Em Progresso">
        <KanbanCard Title="Tarefa 3" Description="Descrição da Tarefa 3"></KanbanCard>
    </KanbanColumn>

    <KanbanColumn Title="Concluído">
        <KanbanCard Title="Tarefa 4" Description="Descrição da Tarefa 4"></KanbanCard>
    </KanbanColumn>
</div>